@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="hero-unit">
	<div align="center" style="font-family: Calibri; font-size: xx-large; color: #555555">
			About Page
	</div>
	<br/>
	<div align="center">
		<div class="control-group">
			<p class="brand">I am agile ASP.NET Developer from Minsk. I'm trying to change myself everyday, learning new everyday in my life and I hate to spend my time on empty things!</p>
			<img id="AuthorFoto" src="http://cs304213.userapi.com/v304213328/2825/PhdQ_7McEwA.jpg"/>
		</div>
	</div>
	<br/>
	<div align="center">
			<a class="btn btn-primary btn-large" href="@Url.Content("../")">Go back</a>
	</div>
</div>