@using SKASP.DOMAIN
@using SKASP.DOMAIN.EntitiesModel
@model SKASP.DOMAIN.Abstract.IManageable<News>

@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Greetings you on my ASP.NET Blog! For Now with MVC</h1>
			  <p>This technical blog I used for increased my skills in web design, development and etc.</p>      
              <p>You can find at this site:</p>
              <div>
                  <span class="info"></span>
                  <a href="#">Information About Me...</a>
              </div>
              <span>
                  <span class="chat"></span>
                  <a href="#">Simple Chat, when you can ask me several questions...</a>
              </span>
              <span>
                  <span class="rss"></span>
              <a href="#">RSS Reader, when you can reead your favorite feeds...</a>
              </span>
              <span>
                  <span class="info"></span>
              <a href="#">Forum, where you can create youth problem topics...</a>
              </span>
				<p>and a lot of other things...</p>
				<br/>
				<p>Wish you a lot of fun with my site...</p>
            <p><a class="btn btn-primary btn-large" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
          </div>
	        <div id="NewsArray" class="label-success well">
		        You can see @Model.Repository.Count() news on this site!
					</div>
		        @foreach (News news in Model.Repository)
		        {
			        Html.RenderPartial("News", news);
		        }
	        </div><!--/span-->
</div><!--/row-->
