@model SKASP.DOMAIN.EntitiesModel.MessageStorage

        <div class="span3 message">
            <p class="user">@Model.MsgOwner</p>
            <p class="name">@Model.Name</p>
            <i class="divider"></i>
            <p class="description">@Model.Data</p>
        </div>