@model SKASP.DOMAIN.EntitiesModel.MessageStorage
<span>
@Html.HiddenFor(x => x.ID)
@Html.DisplayFor(x => x.MsgOwner) Owner
@Html.DisplayFor(x => x.Name) Name
@Html.DisplayFor(x => x.Data) Data
</span>