@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model dynamic

<div align="center" style="font-family: Calibri">
    
    <div align="center" style="font-family: Calibri">
        <p ID="NameLbl" style="color: White;">Name</p>
        <input type="text" ID="NameTxtBox" style="Width: 627px;" />
        <p ID="MessageLbl" style="color: White;">Message</p>
        <input type="text" ID="MessageTxtBox" style="width: 1026px;" />
    </div>
    <div align="center">
        <input type="button" ID="SendMessageBtn" value="Send Message" OnClick="" CssClass="btn btn-primary btn-large" />
    </div>
    <br/>
    <div align="center" style="font-family: Calibri">
        <br/>
        <select ID="ListBox1" style="height: 103px; width: 1095px;"></select>
    </div>
    <br/>
    <input type="button" ID="ReturnBtn" value="Return to Main Page" CssClass="btn btn-primary btn-large" />
    <br/>
    
</div>
