body {
   padding-top: 60px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 40px;
   background-image: url(../Content/images/background/wood.jpg);
   background-attachment: fixed;
}
.sidebar-nav {
    padding: 9px 0;
}

.RssFeedList {
    width: 80%;
}


.row-fluid .span12 {
	margin-left: 0;
}

#NewsArray {
	padding: 20px;
	font-family: 'Segoe UI Mono', 'Arial';
	font-size: 16px;
	color: #fefefe;
	margin-bottom: 10px;
}